{% extends "eternityNewBundle::layout.html.twig" %}
 
{% block title "Homepage" %}
 
{% block content %}
Vous &ecirctes en train de lire la premi&agravere page g&eacuten&eacuter&eacutee avec Symfony2, la homepage. 

<p>  <a href="{{ path('eternitynewBundle_contact') }}>Formulaire contact </p>
{% endblock %}